
#hangman-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    width: 50vw;
}

#word-display {
    font-size: 36px;
    margin: 50px 0;
}

#hangman-image {
    background-image: url('hangman.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 400px;
    height: 400px;
    margin-bottom: 50px;
}

#incorrect-guesses {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
}

#incorrect-guess-title {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 40px;
    color: white;
}

#incorrect-guess-letters {
    font-size: 36px;
    color: white;
}

#guess-form {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

#guess-input {
    padding: 10px 20px;
    font-size: 24px;
    margin-right: 20px;
    border: 1px solid gray;
    border-radius: 5px;
}

#guess-submit {
    padding: 10px 20px;
    font-size: 24px;
    background-color: lightgray;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#message {
    font-size: 24px;
    color: white;
}

div#underscore-display, div#underscore-display-topper {
    font-size: 50pt;
    color: white;
}

div#hangman-left {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div#wrapper {
    display: flex;
    /* background-image: url(chalkboardz.JPG); */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    height: 100vh;
    width: 100vw;
    background-color: #3f702e;
}

.center-it {
    text-align: center;
}

@media only screen and (max-width: 500px) {
    div#underscore-display, div#underscore-display-topper {
        font-size: 20pt;
    }
    #guess-input, #guess-submit {
        padding: 5px 10px;
        font-size: 12px;
    }
}
